.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}

/*.selectedPage {
    font-weight: bold;
}
div span {
    padding: 3px;
}*/

.cursorPointer {
    cursor: pointer;
}